* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 100%;
  background: linear-gradient(45deg, #64b5f6, #00897b);
  color: #333;
  cursor: default;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-scroll {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.portrait,
.content {
  overflow: hidden;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.portrait.mobile {
  display: none;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: -30px;
  border: 2px solid #fff;
  z-index: 1;
  position: relative;
}

.portrait.desktop {
  display: block;
  width: 250px;
  margin: 0 20px 0 0;
}

.content {
  z-index: 0;
  width: 0;
  flex: 1;
  border-radius: 20px;
  background: #fff;
}

.icon {
  display: inline-block;
  width: 30px;
  text-align: center;
}

a {
  color: #00897b;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.highlight {
  color: #00897b;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

.content-item {
  padding: 15px 25px;
}

.content-item .title {
  margin: 0;
}

.content-item p {
  margin: 10px 0;
}

.box,
.box-title {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.box {
  border-radius: 15px;
  padding: 10px;
  margin: 20px 0;
}

.box-title {
  position: relative;
  left: -20px;
  padding: 0 20px;
  background: #00796b;
  color: #fff;
  border-radius: 10px;
}

footer {
  padding: 0;
  margin: 0;
}

.map {
  height: 350px;
  border: 0;
  width: 100%;
}

@media (max-width: 720px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 1rem;
  }

  .portrait.desktop {
    display: none;
  }

  .portrait.mobile {
    display: block;
  }

  .portrait {
    margin: 0 auto 5px auto;
  }

  .container-scroll {
    padding: 15px;
  }

  .container {
    display: block;
  }

  .content {
    padding-top: 30px;
    width: 100%;
  }
}
